.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.item > div {
    flex-grow: 1;
    font-size: 24px;
    margin-left: 15px;
    word-break: break-all;
}

.item > img {
    width: 32px;
    margin: 5px;
    cursor: pointer;
    opacity: .5;
}

.item-complete > img {
    opacity: 1;
}

.item-complete > div {
    text-decoration: line-through;
    opacity: .2;
}