.app {
    width: 500px;
}

.list-group-item {
    display: flex;
}

.list-group-item > img {
    width: 16px;
    margin: 13px;
    opacity: .5;
    cursor: pointer;
    display: none;
}

.list-group-item:hover > img {
    display: inline-block;
}